## Day 12- DIY Solution
**Q1. Problem Statement: Data Filtering using Pandas**

Write a Python program that reads player.csv (provided on LMS) file into a DataFrame , then shows only those players who played more than 150 innings and scored at least two centuries and 35 fifties.

**Step-1:** Importing Libraries.

In [ ]:
import pandas as pd

**Step-2:** Loading the CSV file into a DataFrame.

In [ ]:
df = pd.read_csv("player.csv") 
df

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31
7     8        M S Dhoni      220      193  4746       84     0   23
8     9    Robin Uthappa      193      186  4722       87     0   25
9    10    Gutam Gambhir      154      152  4217       93     0   36

**Step-3:** Print the data as per given condition in Q1.

In [ ]:
import numpy as np
filtered_values = df[(df['innings']>150) & (df['100s']>2) & (df['50s']>35)]
filtered_values

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
5     6  A B de Villiers      184      170  5162      133     3   40

**Q2. Problem Statement: Data Filtering using Pandas** <br>
Use the above data set and do the below tasks.
1. Remove the data of players who didn't  score a single century.
2. Replace the player name "V Kohli " with "Virat Kohli '.
3. How many matches they weren't getting a chance for batting to fetch that and stored in a new column and named it as “not batting”.
4. Also fetch data where player scored neither 100 nor 50 in matches and store in the new column as renamed as "low score innings".

**Step-1:** Droping the column contain 0 as data in '100s' column

In [ ]:
#1. remove the data of plyers who didn't even score single century.
df.drop(df[df['100s'] == 0].index, inplace = True)
df

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31

**Step-2:** Replace name using replace function

In [ ]:
#2 replace the player name "V Kohli " with "Virat Kohli '.
df["name"] = df["name"].replace(to_replace = "V Kohli",value ="Virat Kohli")
df

   rank             name  matches  innings  runs  highest  100s  50s
0     1      Virat Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31

**Step-3:** Create new column and stored data as per given reqirement

In [ ]:
#3 how many matches they weren't getting a chance for batting, fetch that and stored in a new column and named it as “not batting”.
df["not batting "] = df["matches"] - df["innings"]
df

,rank,name,matches,innings,runs,highest,100s,50s,not batting
0,1,V Kohli,207,199,6283,113,5,42,8
1,2,S Dhawan,194,191,5784,106,2,44,3
2,3,Rohit Sharma,213,208,5611,109,1,40,5
3,4,Suresh Raina,205,200,5528,100,1,39,5
4,5,David Warner,150,150,5449,126,4,50,0
5,6,A B de Villiers,184,170,5162,133,3,40,14
6,7,Chris Gayle,142,141,4965,175,6,31,1

**Step-4:** Create new column and stored data as per given reqirement

In [ ]:
#4 also fetch data where they scored neither 100 nor 50 in matches and store in the new column as renamed as "low score innings".
df["low score innings"] = df["innings"]-df["100s"]-df["50s"]
df

,rank,name,matches,innings,runs,highest,100s,50s,not batting,low score innings
0,1,Virat Kohli,207,199,6283,113,5,42,8,152
1,2,S Dhawan,194,191,5784,106,2,44,3,145
2,3,Rohit Sharma,213,208,5611,109,1,40,5,167
3,4,Suresh Raina,205,200,5528,100,1,39,5,160
4,5,David Warner,150,150,5449,126,4,50,0,96
5,6,A B de Villiers,184,170,5162,133,3,40,14,127
6,7,Chris Gayle,142,141,4965,175,6,31,1,104